@model List<CoachesSoccerCompanionWeb.Models.ButtonModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Welcome to the Coaches Soccer Companion Web Version</h1>
        @Html.Label("Coaches Soccer Companion");
        @using (Html.BeginForm("HandleButtonClick", "Button"))
        {
            <button type="submit" name="switchy" value=0>
                    @if (Model[0].State == true)
                    {
                    <img src="~/Images/Start.png" />
                    }
                    else
                    {
                    <img src="~/Images/PauseStop.png" />
                    }
            </button>
         }
    </div>
</body>
</html>
